ul.sdt_menu{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
	color: aliceblue;	
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:120px;
	height:85px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{ /**/
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	z-index: 12;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}
.container {
	width: 100%;
	padding-bottom: 50px;
}
.logo-login {
	margin-top: 32px;
	margin-bottom: 25px;
}
.logo-login .logo {
	display: inline-block;
}
.logo-login .login {
	float: right;
}
.logo-login .login a, .logo-login .logo a {
	text-decoration: none;
}
.content {
	margin-top: 50px;
	margin: auto;
	margin-bottom: 50px;
	margin-left: 50px;
}
.introduce {
	padding-top: 30px;
	width: 93%;
	margin: auto;
	color: white;
}
.introduce .img {
	border: 1px solid rgb(145, 121, 134);
	padding-top: 10px;
	padding-bottom: 10px;
}
.introduce .note {
	border: 1px solid rgb(145, 121, 134);
	padding: 10px;
}
.introduce .note .text{
	text-align: center;
}
.introduce .note .text .line {
	border: 2px solid white;
	width: 50%;
	height: 2px;
	margin-bottom: 20px;
	margin: auto;
}
.introduce .noti-content {
	padding-top: 20px;
}
.fish {
	width: 100%;
	margin: auto;
	margin-top: 50px;
}
.btn-item {
	background: rgb(17, 163, 90);
	color: rgb(225, 225, 245);
	border: none;
	width: 100px;
	height: 30px;
	padding-top: 4px;
	text-align: center;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 15px;
}

.line-item {
	border: 1px solid rgb(17, 163, 90);
	height: 2px;
	margin-bottom: 5px;
	position: relative;
}
.fish .fish-item ul li {
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
}
.fish .fish-item a {
	text-decoration: none;
	font-size: 15px;
}
.fish .fish-item a:hover {
	font-size: 20px;
	color: #fff;
}
.fish .fish-box {
	padding: 20px;
	font-size: 16px;
}
.fish .fish-img {
	display: inline-block;
	border: 1px solid rgb(145, 121, 134);
	padding: 10px;
	border-radius: 10px;
    margin-right: 25px;
    margin-left: 25px;
	transition: transform .1s ease;
	background: rgb(250, 242, 242);
	opacity: 0.8;
}
.fish .fish-img:hover {
	transform: scale(1.1);
}
.fish .fish-img .fish-name {
	color: rgb(10, 128, 20);
	text-align: center;
	margin-top: 8px;
}
.fish .fish-img .fish-price {
	color: red;
	margin-top: -10px;
}


.noti-content .menu-item a{
    text-decoration: none;
}
.noti-content .menu-item a.active {
	color: white;
}
.noti-content .menu-item a:hover{
    color: #fff;
}

.notification .notice {
	margin-top: 50px;
	background-image: url(http://www.sansvc.vn/skins/default/images/bg_block_kvbimat.png);
	background-size: 100%;
	height: 790px;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 40px;
}
.notification .notice .top {
	margin-left: 30%;
	font-size: 18px;
	color: rgb(65, 53, 53);
	font-weight: 700;
}
.notification .notice .congra {
	font-size: 18px;
	color: rgb(65, 53, 53);
	text-align: center;
	margin-top: 40px;
}
.notification .notice .end {
	margin-left: 15%;
}

.notification .chuongtrinh {
	height: 400px;
	background: rgb(247, 236, 236);
}
.notification .chuongtrinh .name {
	background-image: url(http://www.sansvc.vn/skins/default/images/bg_title_thong_bao.gif);
	background-size: 100%;
	height: 60px;
}
.notification .chuongtrinh .name .top {
	font-size: 24px;
	color: rgb(65, 53, 53);
	text-align: center;
	padding-top: 15px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
}

/* PAGINATION */

.pagination {
	margin-left: 20%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}
  
.pagination a {
	color: rgb(107, 86, 226);
	margin: auto;
	padding: 8px 16px;
	text-decoration: none;
}
  
.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

/* FIND */

.find {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

.find .search {
	border-radius: 20px;
	padding-left: 10px;
	font-size: 16px;
	outline: none;

}
.find .icon {
	border-radius: 20px;
	background: #0B75AF;
	margin-right: 20px;
}


/* CHAT */
.chat {
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}
.open-button {
	background-color: #555;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

.form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 200px;
}

.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

.form-container .cancel {
	background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}